In [5]:
#Q1. Create one variable containing following type of data:

Thank You.

In [17]:
string = "Thank You." #string variable
print(string)

Thank You.

In [8]:
l = [1,2,3,"hello world",8.9] #list variable
print(l)

[1, 2, 3, 'hello world', 8.9]

In [9]:
f = 2.3 #float variable
print(type(f))
print(f)

<class 'float'>
2.3

In [16]:
p = (1,2,3,4,"hi",9.88)
print(type(p))
print(p)

<class 'tuple'>
(1, 2, 3, 4, 'hi', 9.88)

In [21]:
#Q2. Given are some following variables containing data:

var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = ['Ds','ML','Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [26]:
'''Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) ** '''


a = 5/2 #division operator

b = 5%2 #modular operator

c = 5//2 #floor operator

d = 5**2 #power operator

print(a)
print(b)
print(c)
print(d)

2.5
1
2
25

In [27]:
''' Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type. '''

l = [1 ,2 ,5.6, "hello world" , (1,2,3), 89, "ture", "*", 30,10.10]
for i in l:
    print(i)

1
2
5.6
hello world
(1, 2, 3)
89
ture
*
30
10.1

In [39]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.'''

a = int(input("enter any number : "))
b = int(input("enter ant number : "))
div=0
while(a%b==0):
    a=a//b
    div+=1
print(div)

enter any number :  200
enter ant number :  2

3

In [41]:
''' Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.'''

l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3 == 0:
        print(i)

3
6
9
12
15
18
21
24

In [47]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.'''

'''(i)Mutable data types:
                        The data types whose elements can be changed, removed, or replaced by using their index positions are called mutable data types..ex- list,dictionary,set.
                        '''

l = [1,2,3,33.44,"Kolkata","Pwskills",66,"Data Science"]
l[3]="Python"
print("After changes",l)

'''(ii) Immutabble data types:
                            The data types whose elements cannot be changed , replaced or removed using any means are called immutable data types. ex- tuple,str,integer,float.
                            '''

p = "String"
p[2]="2"
print(p)

After changes [1, 2, 3, 'Python', 'Kolkata', 'Pwskills', 66, 'Data Science']

TypeError: 'str' object does not support item assignment